<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/booking/style.css">

    </head>
    <body>

        <form th:action="@{/rooms/updateRoom/{room_id}(room_id=${room.room_id})}" th:object="${room}" method="POST">
            <!--  General -->
            <h2 class="heading" th:text="#{editRoom.heading.text}"></h2>
            <div class="form-group">
                <div class="grid">
                    <div class="col-1-2">
                        <div class="controls">
                            <input type="number" min="0" th:field="*{room_number}" name="nombre" class="floatLabel" placeholder="Inserte el número de la habitación " required>
                            <label th:text="#{editRoom.roomnumber.text}"></label>
                        </div>
                    </div>
                    <div class="col-1-2">
                        <div class="controls">
                            <input type="number" min="0" step="0.01" th:field="*{price}" name="dni" class="floatLabel" placeholder="Inserte el precio de la habitación " required>
                            <label th:text="#{editRoom.roomprice.text}"></label>
                        </div>
                    </div>
                </div>
                <div class="controls">
                    <i class="fa fa-sort"></i>
                    <select class="floatLabel" th:field="*{room_type}" id="filter-select-form">
                        <option value="Habitacion matrimonial" th:text="#{editRoom.roomtype.opt1.text}"><option>
                        <option value="Habitacion familiar" th:text="#{editRoom.roomtype.opt2.text}"></option>
                        <option value="Habitacion compartida" th:text="#{editRoom.roomtype.opt3.text}"></option>
                        <option value="Suite principal" th:text="#{editRoom.roomtype.opt4.text}"></option>
                    </select>
                    <label th:text="#{editRoom.roomType.text}"> </label>
                </div>
                <div class="controls">
                    <i class="fa fa-sort"></i>
                    <select class="floatLabel" th:field="*{safe}" id="filter-select-form">
                        <option value="true" th:text="#{editRoom.safestatus.bool1.text}"></option>
                        <option value="false" th:text="#{editRoom.safestatus.bool2.text}"></option>
                    </select>
                    <label th:text="#{editRoom.safeStatus.text}"> </label>
                </div>
                <div class="controls">
                    <i class="fa fa-sort"></i>
                    <select class="floatLabel" th:field="*{is_clean}" id="filter-select-form">
                        <option value="true" th:text="#{editRoom.cleaningstatus.bool1.text}"></option>
                        <option value="false" th:text="#{editRoom.cleaningstatus.bool2.text}"></option>
                    </select>
                    <label th:text="#{editRoom.cleanstatus.text}"> </label>
                </div>
                <div class="controls">
                    <i class="fa fa-sort"></i>
                        <select class="floatLabel" th:field="*{status}" id="filter-select-form">
                            <option value="true" th:text="#{editRoom.roomstatus.bool1.text}"></option>
                            <option value="false" th:text="#{editRoom.roomstatus.bool2.text}"></option>
                        </select>
                        <label th:text="#{editRoom.status.text}"> </label>
                </div>
                <div class="controls">               
                    <button type="submit" value="Submit" style="color:white" th:text="#{complete.button.text}"></button>
                </div>
            </div>

            <!-- partial -->
            <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
            <script src='https://raw.githubusercontent.com/andiio/selectToAutocomplete/master/jquery-ui-autocomplete.js'></script>
            <script
            src='https://raw.githubusercontent.com/andiio/selectToAutocomplete/master/jquery.select-to-autocomplete.js'></script>
            <script
            src='https://raw.githubusercontent.com/andiio/selectToAutocomplete/master/jquery.select-to-autocomplete.min.js'></script>
            <script src="/booking/script.js"></script>
        </form>
    </body>

</html>